POSTGRES_DB=starhunt
POSTGRES_USER=starhunt
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

GCN_CLIENT_ID=change-me
GCN_CLIENT_SECRET=change-me
GCN_GROUP_ID=starhunt
GCN_OFFSET=earliest

STARHUNT_ARTIFACT_DIR=./artifacts
STARHUNT_LOG_LEVEL=INFO
STARHUNT_WORKER_REPLICAS=2

STARHUNT_API_PORT=8000
