POSTGRES_DB=starhunt-db
POSTGRES_USER=starhunt
POSTGRES_PASSWORD=starhunt
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_TEST_PORT=55432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

ADMINER_DEFAULT_SERVER=postgres
ADMINER_HOST_PORT=8080
